body {
    box-sizing: border-box;
    font-family: sans-serif;
}

main {
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 1rem auto;
}

#screen {
    border: 1px solid #1f1f1f;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    width: 400px;
    height: 400px;
    margin: 1rem auto;
}